body
{
    margin: 0;
}

@font-face /*Logo font*/
{
    font-family: 'montserratbold';
    src: url('../font/montserrat-bold-webfont.woff2') format('woff2'),
         url('../font/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face /*Main font*/
{
    font-family: 'montserratregular';
    src: url('../font/montserrat-regular-webfont.woff2') format('woff2'),
         url('../font/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face /*Font menu 1*/
{
    font-family: 'devonshireregular';
    src: url('../font/devonshire-regular-webfont.woff2') format('woff2'),
         url('../font/devonshire-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face /*Font "Menu" menu 1 + 3 + 4*/
{
    font-family: 'Segoe Print';
    src: url('../font/SegoePrint-Bold.woff2') format('woff2'),
        url('../font/SegoePrint-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face /*Police menu 2*/
{
    font-family: 'croissant_oneregular';
    src: url('../font/croissantone-regular-webfont.woff2') format('woff2'),
         url('../font/croissantone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face /*Police "Menu" menu 2*/
{
    font-family: 'TT Pubs';
    src: url('../font/TTPubs-Bold.woff2') format('woff2'),
         url('../font/TTPubs-Bold.woff') format('woff'),
         url('../font/TTPubs-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face /*Police menu 3*/
{
    font-family: 'dancing_scriptregular';
    src: url('../font/dancingscript-variablefont_wght-webfont.woff2') format('woff2'),
         url('../font/dancingscript-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face /*Police menu 4*/
{
    font-family: 'kaushan_scriptregular';
    src: url('../font/kaushanscript-regular-webfont.woff2') format('woff2'),
         url('../font/kaushanscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

