$color-back: #579c87;
$font-maincolor: #fdcb46;
$link-fontsize: 2.5em;
$main-font: 'montserratbold', Arial, Helvetica, sans-serif; /*Main font*/

$pink: #fcdfdb;
$lightpink: #fff5fe;
$lightgrey: #f9f9f9;
$lightmagenta: #fff5fe;

$menu1-font: 'devonshireregular', Arial, Helvetica, sans-serif; /*Font title menu 1*/
$font-menu: 'Segoe Print', Arial, Helvetica, sans-serif; /*Font "Menu" menu 1 + 3 + 4*/
$menu1-color: #3c1218;
$menu2-font: 'croissant_oneregular', Arial, Helvetica, sans-serif; /*Font title menu 2*/
$menu3-font: 'dancing_scriptregular', Arial, Helvetica, sans-serif; /*Font title menu 3*/
$menu4-font: 'kaushan_scriptregular', Arial, Helvetica, sans-serif; /*Font title menu 4*/
$menu-text: 'SegoePrint', Arial, Helvetica, sans-serif; /*Font text menu 1 + 3 + 4*/
