$color-back: #579c87;
$font-maincolor: #fdcb46;
$link-fontsize: 2em;
$logo-font: 'montserratbold', Arial, Helvetica, sans-serif;
$main-font: 'montserratregular', Arial, Helvetica, sans-serif;

$pink: #fcdfdb;
$lightpink: #fff5fe;
$lightgrey: #f9f9f9;
$lightmagenta: #fff5fe;

$menu1-font: 'devonshireregular', Arial, Helvetica, sans-serif;
$font-menu: 'Segoe Print', Arial, Helvetica, sans-serif;
$menu1-color: #3c1218;
$menu2-font: 'croissant_oneregular', Arial, Helvetica, sans-serif;
$menu3-font: 'dancing_scriptregular', Arial, Helvetica, sans-serif;
$menu4-font: 'kaushan_scriptregular', Arial, Helvetica, sans-serif;
