header
{
    width: 100%;
    background-color: $color-back;
    
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
    margin-bottom: 40px;
}
@media screen and (max-width: 1400px)
{
    header {

        line-height: 150px;
    }  
}
@media screen and (max-width: 768px)
{
    header {
        width: 100%;
        line-height: 100px;
    }
}
.title 
{
    margin-top: 0px;
    font-size: 4.5em;
    color: $font-maincolor;
    letter-spacing: -5px;
    font-family: $main-font;
    margin: 0px;
    text-decoration: none;
}
@media screen and (max-width: 1400px)
{
    .title {
        font-size: 3.2em;
    }
}
@media screen and (max-width: 768px)
{
    .title {
        font-size: 2em;
        letter-spacing: -2px;
    }
}