.home-page
{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
@media screen and (max-width: 768px)
{
    .home-page
    {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}
.link
{
    width: 40%;
    text-decoration: none;
    align-items: center;
    &__margintop {
        margin-top: 50px;
    }
    &__marginleft {
        margin-left: 50px;
    }
    &__marginright {
        margin-right: 50px;
    }    
}
@media screen and (max-width: 768px)
{
    .link
    {
        width: 70%;
        &__margintop {
            margin-top: 30px;
        }
        &__marginleft {
            margin-left: 0;
        }
        &__marginright {
            margin-right: 0;
        }
    }
}
.menu
{
    height: 800px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    box-shadow: 2px 2px 24px #ededed;
    &__heading1 {
        font-size: 3.5em;
        font-family: $menu1-font;
        color: $menu1-color;       
        font-weight: normal;
        & + p {
            color: $menu1-color;
            font-family: $font-menu;
            font-size: 4em;
            margin-top: 15px;
        }
    }
    &__heading2 {       
        @include menu2;
        font-family: $menu2-font;
        font-size: 3em;
        & + p {
            font-family: 'Leo', Arial, Helvetica, sans-serif;
            color: #d8852e;
            font-size: 4em;
            margin-top: 40px;
        }
        &--menucard2 {
            font-size: 2.3em;
            @include margin-heading;
        }
    } 
    &__heading3 {
        font-size: 4em;
        font-family: $menu3-font;
        @include menu3;
        & + p {
            color: #0887fb;
            font-family: $font-menu;
            font-size: 4em;
            margin-top: 40px;
        }
        &--menucard3 {
            font-size: 4.5em;
            @include margin-heading;
            }
    }
    &__heading4 {
        font-size: 4em;
        font-family: $menu4-font;
        @include menu4;      
        & + p {
            color: #72bf56;
            font-family: $font-menu;
            font-size: 4em;
            margin-top: 40px;
        }
        &--menucard4 {
            font-size: 4.5em;
            @include margin-heading;
            }
    }
    &__ending {
        font-family: $menu1-font;
        font-size: 2.2em;
        font-weight: lighter;
    } 
    &--pink {
        background-color: $pink;
    }
    &--lightpink {
        background-color: $lightpink;
    }
    &--lightgrey {
        background-color: $lightgrey;
    }
    &--lightmagenta {
        background-color: $lightmagenta;
    }  
}
@media screen and (max-width: 1400px)
{
    .menu
    {
        height: 600px;
        margin: 20px;
        &__marginleft {
            margin-left: 50px;
        }
        &__marginright {
            margin-right: 50px;
        }
        &__heading1 {
            font-size: 2.8em;
            & + p {
                font-size: 2em;
            }
        }
        &__heading2 {
            font-size: 1.7em;
            & + p {
                font-size: 2.5em;
            }
        }
        &__heading3 {
            font-size: 2.5em;
            & + p {
                font-size: 2.5em;
            }
        }
        &__heading4 {
            font-size: 2.5em;
            & + p {
                font-size: 2.5em;
            }
        }
    }
}
@media screen and (max-width: 768px)
{
    .menu
    {
        height: 300px;
        margin: 0%;
        &__heading1 {
            font-size: 2.5em;
            & + p {
                font-size: 1.2em;
            } 
        }         
        &__heading2 {
            font-size: 1.5em;
            & + p {
                font-size: 1.3em;
            }
            &--menucard2 {
                margin-top: 50px;
                margin-bottom: 60px;
            }
        }   
        &__heading3 {
            font-size: 2em;
            & + p {
                font-size: 1.3em;
            } 
            &--menucard3 {
                margin-top: 50px;
                margin-bottom: 60px;
            }
        }       
        &__heading4 {
            font-size: 2em;
            & + p {
                font-size: 1.3em;
            }
            &--menucard4 {
                margin-top: 50px;
                margin-bottom: 60px;
            }
        }
    }   
}
@media screen and (max-width: 1400px)
{
    .musicnote-frontpage
    {
        height: 70px;
    }
}
@media screen and (max-width: 768px)
{
    .musicnote-frontpage
    {
        height: 50px;
        
    }
} 
.comingsoon 
{
    display: flex;
    width: 50%;
    height: 100px;
    line-height: 100px;
    color: $font-maincolor;
    justify-content: space-around;
    vertical-align: middle;
    margin: 80px 25% 50px 25%;
    border-radius: 15px;
    background-color: $color-back;
    animation: animated-dots 200ms;
    &__text {
        font-family: $main-font;
        font-size: $link-fontsize;
        font-weight: 1000;
        text-decoration: none;
    }
    &__animated-dots {
        font-size: 5em;
    }
}
        
@media screen and (max-width: 1400px)
{
    .comingsoon
    {
        font-size: 2em;
    }  
}
@media screen and (max-width: 768px)
{
    .comingsoon
    {
        font-size: 1em;
        height: 50px;
        line-height: 50px;
        margin-top: 50px;
    }
}

/*****************MENU*************************/
.menucard
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__description {
        @include description;
        height: 1600px;
        font-family: $menu-text;
        font-size: 1.4em;
        color: #3d1319;
        &--font2 {
            font-family: 'Leo', Arial, Helvetica, sans-serif;
            font-size: 1.5em;
        }
        &--backcolor1 {
            background-color: $pink;
        }
        &--backcolor2 {
            background-color: $lightpink;
        }
        &--backcolor3 {
            background-color: $lightgrey;
        }
        &--backcolor4 {
            background-color: $lightmagenta;
        }
    }
    &__enchainement1 {
        flex: 0.7;
        width: 30%;
        font-size: 1.3em;
        font-family: $font-menu;
    }
    &__enchainement2 {
        flex: 0.8;
        width: 30%;
        font-size: 1.4em;
        font-weight: bold;
        letter-spacing: 0.04em;
    }
    &__enchainement {
        @include enchainement;
    }
    &__dish {
        display: flex;
        margin-bottom: 15px;
        &--starter {
            color: #c67412;
            height: 40px;
        }
        &--maincourse {
            color: #a56799;
            height: 40px;
        }
        &--desert {
            color: #6e4ccc;
            height: 40px;
        }
    }
}
@media screen and (max-width: 1400px)
{
    .menucard
    {
        &__enchainement1 {
            font-size: 1.2em;
        }
        &__enchainement2 {
            flex: 1;
            font-size: 1.5em;
        }
        &__enchainement {
            flex: 1;
            font-size: 1em;
        }
        &__description
        {
            width: 95%;
            height: 1400px;
            font-size: 1.1em;
        }
    }
    
}
@media screen and (max-width: 768px)
{
    .menucard 
    {
        &__enchainement1 {
            flex: 0.9;
            font-size: 1.3em;
        }
        &__enchainement2 {
            font-size: 1.2em;
            margin-top: 20px;
            margin-bottom: 15px;
        }
        &__enchainement {
            flex: 1;
            font-size: 1.1em;
            margin-top: 20px;
            margin-bottom: 15px;
        }
        &__description {
            width: 95%;
            height: 750px;
            margin-bottom: 50px;
            font-size: 0.7em;
        }
        &__dish {
            margin-bottom: 5px;
            &--starter {
                height: 20px;
            }
            &--maincourse {
                height: 20px;
            }
            &--desert {
                height: 20px;
            }
        }
    }   
}
h3
{
    font-family: $main-font;
    font-size: 3em;
    margin-top: 20px;
}
@media screen and (max-width: 1400px)
{
    h3
    {
        font-size: 2em;
        margin-top: 10px;
    }
}
@media screen and (max-width: 768px)
{
    h3
    {
        font-size: 1.2em;
    }
}
.musicnote
{
    margin-top: 30px;
}
@media screen and (max-width: 1400px)
{
    .musicnote {
        height: 80px;

    }
}
@media screen and (max-width: 768px)
{
    .musicnote {
        height: 50px;
        margin-top: 5px;
    }
}
.end-title
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    margin-top: 50px;
}
@media screen and (max-width: 768px)
{
    .end-title
    {
        margin-top: 10px;
    }
}
.musicnote-end
{
    height: 70px;
    margin-right: 10px;
}
@media screen and (max-width: 1400px)
{
    .musicnote-end {
        height: 60px;
    }
}
@media screen and (max-width: 768px)
{
    .musicnote-end
    {
        height: 40px;
        margin-right: 10px;
    }
}
.dish
{
    &__description {
        flex: 3;
        text-align: left;
        margin-left: 140px;
    }
    &__price {
        flex: 0.5;
        text-align: right;
        margin-right: 140px;
    }
}
@media screen and (max-width: 1400px)
{
    .dish
    {
        &__description {
            margin-left: 50px;
        }
        &__price {          
            margin-right: 50px;
        }
    }   
}
@media screen and (max-width: 768px)
{
    .dish
    {
        &__description {
            flex: 3;
            margin-left: 10px;
        }
        &__price {
            flex: 0.5;
            margin-right: 10px;
        }
    }  
}
.separation-line
{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
    &__line {
        width: 100%;
        max-height: 15px;
        justify-content: flex-start;
    }
}  
@media screen and (max-width: 768px)
{
    .separation-line
    {
        height: 30px;
        margin-top: 30px;
        margin-bottom: 20px;
    }
}
.underline 
{
    @include underline;
    margin: 0 auto;
}
.lineleft
{
    flex: 1;
    margin-left: 140px;
    &--menu2 {
        flex: 1;
        margin-left: 50px;
        padding-top: 10px;
    }
    &--menu3 {
        flex: 0.6;
        margin-left: 60px;
        padding-top: 10px;
    }
    &--menu4 {
        flex: 0.8;
        margin-left: 50px;
        padding-top: 10px;
    }
}
@media screen and (max-width: 1400px)
{
    .lineleft 
    {
        margin-left: 50px;
        &--menu2 {
            flex: 0.8;
            margin-left: 20px;
        }
        &--menu3 {
            flex: 1;
            margin-left: 20px;
        }
        &--menu4 {
            flex: 1.4;
            margin-left: 20px;
        }
    }
}

@media screen and (max-width: 768px)
{
    .lineleft
    {
        flex: 0.7;
        margin-left: 10px;
        &--menu2 {
            flex: 0.6;
            margin-left: 10px;
        }
        &--menu3 {
            flex: 0.7;
            margin-left: 5px;
        }
        &--menu4 {
            flex: 0.7;
            margin-left: 5px;
        }
    }
}
.lineright
{
    flex: 1;
    margin-right: 140px;
    &--menu2 {
        flex: 1;
        margin-right: 50px;
        padding-top: 10px;
    } 
    &--menu3 {
        flex: 0.6;
        margin-right: 60px;
        padding-top: 10px;
    }   
    &--menu4 {
        flex: 0.8;
        margin-right: 50px;
        padding-top: 10px;
    }
}
@media screen and (max-width: 1400px)
{
    .lineright
    {
        margin-right: 50px;
        &--menu2 {
            flex: 0.8;
            margin-right: 20px;
        }
        &--menu3 {
            flex: 1;
            margin-right: 20px;
        }
        &--menu4 {
            flex: 1.4;
            margin-right: 20px;
        }
    }
}
@media screen and (max-width: 768px)
{
    .lineright
    {
        flex: 0.7;
        margin-right: 10px;
        &--menu2 {
            flex: 0.6;
            margin-right: 10px;
        }
        &--menu3 {
            flex: 0.7;
            margin-right: 5px;
        }
        &--menu4 {
            flex: 0.7;
            margin-right: 5px;
        }
    }
}
