.home-page
{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
@media screen and (max-width: 768px)
{
    .home-page {
        flex-direction: column;
        align-items: center;
    }
}
.link
{
    width: 40%;
    text-decoration: none;
    align-items: center;
    &__margintop {
        margin-top: 50px;
    }
    &__marginleft {
        margin-left: 50px;
    }
    &__marginright {
        margin-right: 50px;
    }    
}
@media screen and (max-width: 768px)
{
    .link {
        width: 70%;
        &__margintop {
            margin-top: 30px;
        }
        &__marginleft {
            margin-left: 0;
        }
        &__marginright {
            margin-right: 0;
        }
    }
}
.menu
{
    height: 800px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    box-shadow: 2px 2px 24px #ededed;
    
    &__heading1 {
        font-family: $menu1-font;
        color: $menu1-color;       
        font-weight: normal;
        font-size: 3vw;
        & + p {
            color: $menu1-color;
            font-family: $font-menu;
            font-size: 3.5vw;
            margin-top: 15px;
        }
        &--menucard1 {
            font-size: 5vw;
        }
    }
    &__heading2 {       
        @include menu2;
        font-family: $menu2-font;
        font-size: 2.5vw;
        & + p {
            font-size: 3.5vw;
            font-family: 'Leo', Arial, Helvetica, sans-serif;
            color: #d8852e;
            margin-top: 40px;
        }
        &--menucard2 {
            font-size: 2.3em;
            @include margin-heading;
        }
    } 
    &__heading3 {
        @include menu3;
        font-family: $menu3-font;
        font-size: 3vw;
        padding-left: 5px;
        & + p {
            font-size: 3.5vw;
            color: #0887fb;
            font-family: $font-menu;
            margin-top: 40px;
        }
        &--menucard3 {
            font-size: 5vw;
            @include margin-heading;
            }
    }
    &__heading4 {
        @include menu4;      
        font-family: $menu4-font;
        font-size: 3vw;
        & + p {
            font-size: 3.5vw;
            color: #72bf56;
            font-family: $font-menu;
            margin-top: 40px;
        }
        &--menucard4 {
            font-size: 5vw;
            @include margin-heading;
            }
    }
    &__ending {
        font-family: $menu1-font;
        font-size: 2.2em;
        font-weight: lighter;
    } 
    &--pink {
        background-color: $pink;
    }
    &--lightpink {
        background-color: $lightpink;
    }
    &--lightgrey {
        background-color: $lightgrey;
    }
    &--lightmagenta {
        background-color: $lightmagenta;
    }  
}
@media screen and (max-width: 1400px)
{
    .menu
    {
        height: 600px;
        margin: 20px;
        font-size: 2.1vw;
        &__marginleft {
            margin-left: 50px;
        }
        &__marginright {
            margin-right: 50px;
        }
    }
}
@media screen and (max-width: 768px)
{
    .menu
    {
        height: 300px;
        margin: 0%;
        &__heading1 {
            font-size: 7vw;
            & + p {
                font-size: 6vw;
            }
        }         
        &__heading2 {
            font-size: 5vw;
            & + p {
                font-size: 6vw;
            }
            &--menucard2 {
                margin-top: 50px;
                margin-bottom: 60px;
            }
        }   
        &__heading3 {
            font-size: 6vw;
            & + p {
                font-size: 6vw;
            }
            &--menucard3 {
                margin-top: 50px;
                margin-bottom: 60px;
            }
        }       
        &__heading4 {
            font-size: 6vw;
            & + p {
                font-size: 6vw;
            }
            &--menucard4 {
                margin-top: 50px;
                margin-bottom: 60px;
            }
        }
    }   
}
@media screen and (max-width: 1400px)
{
    .musicnote-frontpage
    {
        height: 70px;
    }
}
@media screen and (max-width: 768px)
{
    .musicnote-frontpage
    {
        height: 50px;
        
    }
} 
.comingsoon 
{
    display: flex;
    flex: 0.6;
    justify-content: center;
    align-items: center;
    color: $font-maincolor;
    margin: 70px 20% 50px 20%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
    background-color: $color-back;
    font-size: $link-fontsize;
    &__text {
        font-family: $main-font;
        font-weight: 1000;
        text-decoration: none;
        margin-right: 0.6em;
    }    
    &__dots {
        letter-spacing: 0.2em;
    }
}
.one
{
    opacity: 0;
    animation: animated-dots 1200ms 0.1s linear infinite none;
} 
.two
{
    opacity: 0;
    animation: animated-dots 1200ms 0.3s linear infinite none;
}     
.three
{
    opacity: 0;
    animation: animated-dots 1200ms 0.5s linear infinite none;
}
@media screen and (max-width: 1400px)
{
    .comingsoon {
        padding-right: 50px;
        padding-left: 50px;  
    }
}
@media screen and (max-width: 768px)
{
    .comingsoon {
    padding-right: 40px;
    padding-left: 40px; 
    }
}
.zoom
{   
    display: inline-block;
    margin: auto;
    transition: transform 300ms, 400ms;
    opacity: 1;
    &:hover {
        transform: scale(1.2);
        opacity: 0.5;
    }
}
/*****************MENU*************************/
.menucard
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__description {
        @include description;
        font-family: $menu-text;
        font-size: 1.4em;
        color: #3d1319;
        &--font2 {
            font-family: 'Leo', Arial, Helvetica, sans-serif;
            font-size: 1.5em;
        }
        &--backcolor1 {
            background-color: $pink;
        }
        &--backcolor2 {
            background-color: $lightpink;
        }
        &--backcolor3 {
            background-color: $lightgrey;
        }
        &--backcolor4 {
            background-color: $lightmagenta;
        }
    }
    &__enchainement1 {
        font-size: 1.2em;
        font-family: $font-menu;
        &:hover + .underline__line {
            background-color: #3d1319;
            transform-origin: left;
            animation: underline 500ms 150ms both;
        } 
    }
    &__enchainement2 {
        font-size: 1.2em;
        font-weight: bold;
        letter-spacing: 0.04em;
        
    }
    &__enchainement {
        @include enchainement;
    }
    &__dish {
        display: flex;
        margin-bottom: 15px;
        &--starter {
            color: #c67412;
            &:hover + .underline__line {
                background-color: #c67412;
                transform-origin: left;
                animation: underline 500ms 150ms both;
            }
        }
        &--maincourse {
            color: #a56799;
            &:hover + .underline__line {
                background-color: #a56799;
                transform-origin: left;
                animation: underline 500ms 150ms both;
            }
        }
        &--desert {
            color: #6e4ccc;
            &:hover + .underline__line {
                background-color: #6e4ccc;
                transform-origin: left;
                animation: underline 500ms 150ms both;
            }
        }
    }
}
@media screen and (max-width: 1400px)
{
    .menucard
    {
        &__enchainement1 {
            flex: 1;
            font-size: 1.4em;
        }
        &__enchainement2 {
            flex: 1;
            font-size: 1.7em;
        }
        &__enchainement {
            flex: 1.2;
            font-size: 1.5em;
        }
        &__description
        {
            width: 95%;
            font-size: 1.1em;
        }
    }
    
}
@media screen and (max-width: 768px)
{
    .menucard 
    {
        &__enchainement1 {
            flex: 0.9;
            font-size: 1.3em;
        }
        &__enchainement2 {
            font-size: 1em;
        }
        &__enchainement {
            flex: 1;
            font-size: 1.3em;
            margin-top: 10px;
        }
        &__description {
            width: 95%;
            padding-bottom: 30px;
            font-size: 0.7em;
        }
        &__dish {
            margin-bottom: 5px;
        }
    }   
}
h3
{
    font-family: $main-font;
    font-size: 3em;
    margin-top: 20px;
}
@media screen and (max-width: 1400px)
{
    h3
    {
        font-size: 2em;
        margin-top: 10px;
    }
}
@media screen and (max-width: 768px)
{
    h3
    {
        font-size: 1.2em;
    }
}
.musicnote
{
    margin-top: 50px;
}
@media screen and (max-width: 1400px)
{
    .musicnote {
        height: 80px;

    }
}
@media screen and (max-width: 768px)
{
    .musicnote {
        height: 50px;
        margin-top: 5px;
    }
}
.end-title
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    margin-top: 50px;
}
@media screen and (max-width: 768px)
{
    .end-title
    {
        margin-top: 10px;
    }
}
.musicnote-end
{
    height: 70px;
    margin-right: 10px;
}
@media screen and (max-width: 1400px)
{
    .musicnote-end {
        height: 60px;
    }
}
@media screen and (max-width: 768px)
{
    .musicnote-end
    {
        height: 40px;
        margin-right: 10px;
    }
}
.dish
{
    &__description {
        flex: 3;
        text-align: left;
        margin-left: 140px;
    }
    &__price {
        flex: 0.5;
        text-align: right;
        margin-right: 140px;
    }
}
@media screen and (max-width: 1400px)
{
    .dish
    {
        &__description {
            margin-left: 50px;
        }
        &__price {          
            margin-right: 50px;
        }
    }   
}
@media screen and (max-width: 768px)
{
    .dish
    {
        &__description {
            margin-left: 10px;
        }
        &__price {
            margin-right: 10px;
        }
    }  
}
.separation-line
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 50px;
    &__line {
        width: 100%;
        max-height: 15px;
        justify-content: flex-start;
    }
}  
@media screen and (max-width: 768px)
{
    .separation-line
    {
        margin-top: 20px;
        margin-bottom: 10px;
    }
}
.flex
{
    flex: 0.9;
}
.underline-size
{
    display: inline-block;
}
.underline
{
    display: flex;
    flex-direction: column;
    cursor: default;
    &__line {
        @include underline;
        justify-content: center;
    }
}
@media screen and (max-width: 768px) 
{
    .underline {
        &__line {
            height: 3px;
        }
    }
}
.lineleft
{
    flex: 1;
    margin-left: 140px;
    &--menu2 {
        flex: 0.8;
        margin-left: 50px;
        padding-top: 5px;
    }
    &--menu3 {
        flex: 0.6;
        margin-left: 60px;
        padding-top: 5px;
    }
    &--menu4 {
        flex: 0.7;
        margin-left: 50px;
        padding-top: 10px;
    }
}
@media screen and (max-width: 1400px)
{
    .lineleft 
    {
        margin-left: 50px;
        flex: 0.7;
        &--menu2 {
            flex: 0.6;
            margin-left: 20px;
        }
        &--menu3 {
            flex: 0.8;
            margin-left: 20px;
        }
        &--menu4 {
            flex: 1.2;
            margin-left: 20px;
        }
    }
}

@media screen and (max-width: 768px)
{
    .lineleft
    {
        flex: 0.6;
        margin-left: 10px;
        &--menu2 {
            flex: 0.6;
            margin-left: 5px;
        }
        &--menu3 {
            flex: 0.7;
            margin-left: 5px;
        }
        &--menu4 {
            flex: 0.7;
            margin-left: 5px;
        }
    }
}
.lineright
{
    flex: 1;
    margin-right: 140px;
    &--menu2 {
        flex: 0.8;
        margin-right: 50px;
        padding-top: 5px;
    } 
    &--menu3 {
        flex: 0.6;
        margin-right: 60px;
        padding-top: 5px;
    }   
    &--menu4 {
        flex: 0.7;
        margin-right: 50px;
        padding-top: 10px;
    }
}
@media screen and (max-width: 1400px)
{
    .lineright
    {
        margin-right: 50px;
        flex: 0.7;
        &--menu2 {
            flex: 0.6;
            margin-right: 20px;
        }
        &--menu3 {
            flex: 0.8;
            margin-right: 20px;
        }
        &--menu4 {
            flex: 1.2;
            margin-right: 20px;
        }
    }
}
@media screen and (max-width: 768px)
{
    .lineright
    {
        flex: 0.6;
        margin-right: 10px;
        &--menu2 {
            flex: 0.6;
            margin-right: 5px;
        }
        &--menu3 {
            flex: 0.7;
            margin-right: 5px;
        }
        &--menu4 {
            flex: 0.7;
            margin-right: 5px;
        }
    }
}
