.footblock
{
    position: sticky;
    bottom: 0;
    background-color: $color-back;
    height: 150px;
    display: flex;
    justify-content: space-between;
    &__link {
        width: 280px;
        height: 100px;
        line-height: 150px;
        font-family: $main-font;
        color: $font-maincolor;
        font-size: $link-fontsize;
        font-weight: 1000;
        text-align: center;
        vertical-align: middle;
        text-decoration: none;
        margin-left: 20px;
        margin-right: 20px;
    }
}
@media screen and (max-width: 1400px)
{
    .footblock
    {
        height: 130px;
        &__link
        {
            font-size: 1.8em;
            line-height: 130px;
        }
    }
}
@media screen and (max-width: 768px)
{
    .footblock
    {
        height: 70px;
        &__link
        {
            font-size: 1em;
            line-height: 70px;
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}
.wiggle {
    &:hover {
        animation: wiggle 100ms cubic-bezier(.82,.11,.19,.93);
        animation-iteration-count: 3;
    }
}
.wiggle2 {
    &:hover {
        animation: wiggle2 100ms cubic-bezier(.82,.11,.19,.93);
        animation-iteration-count: 3;
    }
}
@keyframes wiggle {
    25% {
        transform: translate(3%);
    }
    75% {
        transform: translate(3%);
    }
}
@keyframes wiggle2 {
    25% {
        transform: translate(-3%);
    }
    75% {
        transform: translate(-3%);
    }
}