section
{
    display: flex;
    flex-wrap: wrap;
    margin: 5px 50px;
    justify-content: space-around; 
}
p
{
    margin-top: 0px;
}
.link
{
    text-decoration: none;
}
.menu
{
    width: 700px;
    height: 900px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    box-shadow: 1px 1px 12px #ededed;
    margin: 50px;
    &__heading1 {
        margin-top: 0px;
        margin-bottom: 0px;
        font-family: $menu1-font;
        color: $menu1-color;
        font-size: 4em;
        font-weight: normal;
        & + p {
            color: $menu1-color;
            font-family: $font-menu;
            font-size: 4em;
        }
    }
    &__heading2 {
        font-family: $menu2-font;
        @include menu2;
        & + p {
            font-family: 'TT Pubs', Arial, Helvetica, sans-serif;
            color: #d8852e;
            font-size: 4em;
        }
    }    
    &__heading3 {
        font-family: $menu3-font;
        @include menu3;
        & + p {
            color: #0887fb;
            font-family: $font-menu;
            font-size: 4em;
        }
    }
    &__heading4 {
        font-family: $menu4-font;
        @include menu4;
        & + p {
            color: #72bf56;
            font-family: $font-menu;
            font-size: 4em;
        }        
    }
   
    &--pink {
        background-color: $pink;
    }
    &--lightpink {
        background-color: $lightpink;
    }
    &--lightgrey {
        background-color: $lightgrey;
    }
    &--lightmagenta {
        background-color: $lightmagenta;
    }
}
.comingsoon 
{
    width: 50%;
    height: 80px;
    line-height: 80px;
    color: $font-maincolor;
    font-family: $main-font;
    font-size: $link-fontsize;
    font-weight: 1000;
    text-align: center;
    vertical-align: middle;
    margin: 50px 25%;
    border-radius: 20px;
    background-color: $color-back;
    text-decoration: none;
}