.home-page
{

    display: flex;
    flex-wrap: wrap;
}
@media screen and (max-width: 768px)
{
    .home-page
    {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}
.link
{
    width: 50%;
    text-decoration: none;    
}
@media screen and (max-width: 768px)
{
    .link
    {
        width: 70%;
    }
}
.menu
{
    height: 800px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    box-shadow: 2px 2px 24px #ededed;
    margin: 60px;
    &__margintop {
        margin-top: 80px;
    }
    &__marginleft {
        margin-left: 170px;
    }
    &__marginright {
        margin-right: 170px;
    }
    &__heading1 {
        font-family: $menu1-font;
        color: $menu1-color;
        font-size: 3em;
        font-weight: normal;
        & + p {
            color: $menu1-color;
            font-family: $font-menu;
            font-size: 4em;
            margin-top: 15px;
        }
    }
    &__heading2 {
        font-family: $menu2-font;
        font-size: 2em;
        @include menu2;
        & + p {
            font-family: 'TT Pubs', Arial, Helvetica, sans-serif;
            color: #d8852e;
            font-size: 4em;
            margin-top: 40px;
        }
    } 
    &__heading3 {
        font-size: 3em;
        font-family: $menu3-font;
        @include menu3;
        & + p {
            color: #0887fb;
            font-family: $font-menu;
            font-size: 4em;
            margin-top: 40px;
        }
    }
    &__heading4 {
        font-size: 3em;
        font-family: $menu4-font;
        @include menu4;      
        & + p {
            color: #72bf56;
            font-family: $font-menu;
            font-size: 4em;
            margin-top: 40px;
        }
    } 
    &--pink {
        background-color: $pink;
    }
    &--lightpink {
        background-color: $lightpink;
    }
    &--lightgrey {
        background-color: $lightgrey;
    }
    &--lightmagenta {
        background-color: $lightmagenta;
    }  
}
@media screen and (max-width: 1400px)
{
    .menu
    {
        height: 600px;
        margin: 20px;
        &__marginleft {
            margin-left: 50px;
        }
        &__marginright {
            margin-right: 50px;
        }
        &__heading1 {
            font-size: 2.8em;
            & + p {
                font-size: 2em;
            }
        }
        &__heading2 {
            font-size: 1.7em;
            & + p {
                font-size: 2.5em;
            }
        }
        &__heading3 {
            font-size: 2.5em;
            & + p {
                font-size: 2.5em;
            }
        }
        &__heading4 {
            font-size: 2.5em;
            & + p {
                font-size: 2.5em;
            }
        }
    }
}
@media screen and (max-width: 768px)
{
    .menu
    {
        height: 300px;
        margin: 0%;
        margin-bottom: 20px;
        &__marginleft {
            margin-left: 0;
        }
        &__marginright {
            margin-right: 0;
        }
        &__heading1 {
            font-size: 2.5em;
            & + p {
                font-size: 1.2em;
            } 
        }         
        &__heading2 {
            font-size: 1.8em;
            & + p {
                font-size: 1.2em;
            }
        }   
        &__heading3 {
            font-size: 2.2em;
            & + p {
            font-size: 1.2em;
            } 
        }       
        &__heading4 {
            font-size: 2.2em;
            & + p {
            font-size: 1.2em;
            }
        }
    }   
}
@media screen and (max-width: 1400px)
{
    .musicnote-frontpage
    {
        height: 70px;
    }
}
@media screen and (max-width: 768px)
{
    .musicnote-frontpage
    {
        height: 50px;
        
    }
} 
.comingsoon 
{
    width: 50%;
    height: 100px;
    line-height: 100px;
    color: $font-maincolor;
    font-family: $main-font;
    font-size: $link-fontsize;
    font-weight: 1000;
    text-align: center;
    vertical-align: middle;
    margin: 50px 25% 50px 25%;
    border-radius: 15px;
    background-color: $color-back;
    text-decoration: none;
}
@media screen and (max-width: 1400px)
{
    .comingsoon
    {
        font-size: 2em;
    }  
}
@media screen and (max-width: 768px)
{
    .comingsoon
    {
        font-size: 1em;
        height: 50px;
        line-height: 50px;
    }
}

/*****************MENU*************************/
.menu-presentation
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h3
{
    font-family: $main-font;
    font-size: 2.5em;
    margin-top: 20px;
}
@media screen and (max-width: 1400px)
{
    h3
    {
        font-size: 2em;
        margin-top: 10px;
    }
}
@media screen and (max-width: 768px)
{
    h3
    {
        font-size: 1.5em;
    }
}
.musicnote
{
    margin-top: 30px;
}
@media screen and (max-width: 1400px)
{
    .musicnote {
        height: 80px;

    }
}
@media screen and (max-width: 768px)
{
    .musicnote {
        height: 50px;
    }
}
.menu1-enchainement
{
    font-size: 1.8em;
    margin-top: 40px;
    margin-bottom: 25px;
}
@media screen and (max-width: 1400px)
{
    .menu1-enchainement {
        font-size: 1.5em;
    }
}
@media screen and (max-width: 768px)
{
    .menu1-enchainement {
        font-size: 1.3em;
        margin-top: 20px;
        margin-bottom: 15px;
    }
}
.menu1-description
{
    width: 80%;
    text-align: center;
    margin-bottom: 100px;
    height: 1200px;
    font-family: $font-menu;
    font-size: 1.3em;
    color: #3d1319;
    background-color: $pink;
}
@media screen and (max-width: 1400px)
{
    .menu1-description
    {
        width: 95%;
        height: 1000px;
        font-size: 1em;
    }
}
@media screen and (max-width: 768px)
{
    .menu1-description
    {
        width: 95%;
        height: 800px;
        margin-bottom: 50px;
        font-size: 0.7em;
    }
}
.menu1-dish
{
    display: flex;
    margin-bottom: 10px;
    &__description {
        flex: 3.5;
        text-align: left;
        margin-left: 130px;
    }
    &__price {
        flex: 0.5;
        text-align: right;
        margin-right: 130px;
    }
}
@media screen and (max-width: 1400px)
{
    .menu1-dish
    {
        &__description {
            margin-left: 50px;
        }
        &__price {          
            margin-right: 50px;
        }
    }   
}
@media screen and (max-width: 768px)
{
    .menu1-dish
    {
        &__description {
            flex: 3.5;
            margin-left: 10px;
        }
        &__price {
            flex: 0.5;
            margin-right: 10px;
        }
    }  
}
.end-title
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    margin-top: 20px;
}
.musicnote-end
{
    height: 80px;
    margin-right: 10px;
}
@media screen and (max-width: 1400px)
{
    .musicnote-end {
        height: 70px;
    }
}
@media screen and (max-width: 768px)
{
    .musicnote-end
    {
        height: 50px;
        margin-right: 10px;
    }
}
.menu2-enchainement
{
    font-size: 1.5em;
    margin-top: 50px;
    margin-bottom: 25px;
}
@media screen and (max-width: 1400px)
{
    .menu2-enchainement {
        font-size: 1.5em;
    }
}
@media screen and (max-width: 768px)
{
    .menu2-enchainement {
        font-size: 1.2em;
        margin-top: 20px;
        margin-bottom: 15px;
    }
}
.menu2-description
{
    width: 80%;
    text-align: center;
    margin-bottom: 100px;
    height: 800px;
    font-family: 'TT Pubs', Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    background-color: $lightpink;
}
@media screen and (max-width: 1400px)
{
    .menu2-description
    {
        width: 95%;
        height: 800px;
        font-size: 1em;
    }
}
@media screen and (max-width: 768px)
{
    .menu2-description
    {
        width: 95%;
        height: 450px;
        margin-bottom: 50px;
        font-size: 0.6em;
    }
}
.menu2-dish
{
    display: flex;
    margin-bottom: 20px;
    &__description {
        flex: 3;
        text-align: left;
        margin-left: 150px;
    }
    &__price {
        flex: 1;
        text-align: right;
        margin-right: 150px;
    }
    
}
@media screen and (max-width: 1400px)
{
    .menu2-dish
    {
        &__description {
            margin-left: 50px;
        }
        &__price {          
            margin-right: 50px;
        }
    }   
}
@media screen and (max-width: 768px)
{
    .menu2-dish
    {
        &__description {
            flex: 3.5;
            margin-left: 10px;
        }
        &__price {
            flex: 0.5;
            margin-right: 10px;
        }
    }  
}
.dish
{
    &__starter {
        color: #c67412;
    }
    &__maincourse {
        color: #a56799;
    }
    &__desert {
        color: #6e4ccc;
    }
}

.menu3-enchainement
{
    font-size: 1.5em;
    margin-bottom: 20px;
    margin-top: 50px;
}
@media screen and (max-width: 1400px)
{
    .menu3-enchainement {
        font-size: 1.5em;
    }
}
@media screen and (max-width: 768px)
{
    .menu3-enchainement {
        font-size: 1.2em;
        margin-top: 20px;
        margin-bottom: 15px;
    }
}
.menu3-description
{
    width: 80%;
    text-align: center;
    margin-bottom: 100px;
    height: 900px;
    font-family: $font-menu;
    background-color: $lightgrey;
}
@media screen and (max-width: 1400px)
{
    .menu3-description
    {
        width: 95%;
        height: 1000px;
        font-size: 1.2em;
    }
}
@media screen and (max-width: 768px)
{
    .menu3-description
    {
        width: 95%;
        height: 700px;
        margin-bottom: 50px;
        font-size: 0.6em;
    }
}
.menu3-dish
{
    display: flex;
    margin-bottom: 15px;
    &__description {
        flex: 3;
        text-align: left;
        margin-left: 150px;
    }
    &__price {
        flex: 1;
        text-align: right;
        margin-right: 150px;
    }
}
@media screen and (max-width: 1400px)
{
    .menu3-dish
    {
        &__description {
            margin-left: 50px;
        }
        &__price {          
            margin-right: 50px;
        }
    }   
}
@media screen and (max-width: 768px)
{
    .menu3-dish
    {
        &__description {
            flex: 3.5;
            margin-left: 10px;
        }
        &__price {
            flex: 0.5;
            margin-right: 10px;
        }
    }  
}
.menu4-enchainement
{
    font-size: 1.5em;
    margin-bottom: 20px;
    margin-top: 50px;
}
@media screen and (max-width: 1400px)
{
    .menu4-enchainement {
        font-size: 1.5em;
    }
}
@media screen and (max-width: 768px)
{
    .menu4-enchainement {
        font-size: 1.2em;
        margin-top: 20px;
        margin-bottom: 15px;
    }
}
.menu4-description
{
    width: 80%;
    text-align: center;
    margin-bottom: 100px;
    height: 900px;
    font-family: $font-menu;
    background-color: $lightmagenta;
}
@media screen and (max-width: 1400px)
{
    .menu4-description
    {
        width: 95%;
        height: 1000px;
        font-size: 1em;
    }
}
@media screen and (max-width: 768px)
{
    .menu4-description
    {
        width: 95%;
        height: 700px;
        margin-bottom: 50px;
        font-size: 0.5em;
    }
}
.menu4-dish
{
    display: flex;
    margin-bottom: 15px;
    &__description {
        flex: 3;
        text-align: left;
        margin-left: 150px;
    }
    &__price {
        flex: 1;
        text-align: right;
        margin-right: 150px;
    }
}
@media screen and (max-width: 1400px)
{
    .menu4-dish
    {
        &__description {
            margin-left: 50px;
        }
        &__price {          
            margin-right: 50px;
        }
    }   
}
@media screen and (max-width: 768px)
{
    .menu4-dish
    {
        &__description {
            flex: 3.5;
            margin-left: 10px;
        }
        &__price {
            flex: 0.5;
            margin-right: 10px;
        }
    }  
}

